<html>
    <head>
        <title>Manson's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="http://127.0.0.1:8000/admin/blog/post/add/">Manson's blog</a></h1>
            <p>want to add something in my post?</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="http://img.picturequotes.com/2/324/323876/say-my-name-quote-1.jpg">My first post</a></h2>
            <p>SAY MY NAME</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="http://images.boomsbeat.com/data/images/full/212738/bitch-you-better-have-my-money.jpg">My second post</a></h2>
            <p>bitch! you better have my money</p>
        </div>
    </body>
</html>
